@font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-SemiBold.woff2') format('woff2'),
        url('../fonts/Campton-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-Medium.woff2') format('woff2'),
        url('../fonts/Campton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../fonts/Campton-Book.woff2') format('woff2'),
        url('../fonts/Campton-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik XX Cond Web';
    src: url('../fonts/GraphikXXCondWeb-Bold.woff2') format('woff2'),
        url('../fonts/GraphikXXCondWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-Light.woff2') format('woff2'),
        url('../fonts/Campton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Arabic';
    src: url('../fonts/GraphikArabic-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikArabic-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Bold.woff2') format('woff2'),
        url('../fonts/BrownStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/BrownStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Arabic';
    src: url('../fonts/GraphikArabic-Regular.woff2') format('woff2'),
        url('../fonts/GraphikArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Thin.woff2') format('woff2'),
        url('../fonts/Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-ThinItalic.woff2') format('woff2'),
        url('../fonts/BrownStd-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd Thin Reclining';
    src: url('../fonts/BrownStd-ReclinThin.woff2') format('woff2'),
        url('../fonts/BrownStd-ReclinThin.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Light.woff2') format('woff2'),
        url('../fonts/BrownStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Arabic';
    src: url('../fonts/GraphikArabic-Black.woff2') format('woff2'),
        url('../fonts/GraphikArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Extralight.woff2') format('woff2'),
        url('../fonts/Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('../fonts/Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd Light Reclining';
    src: url('../fonts/BrownStd-ReclinLight.woff2') format('woff2'),
        url('../fonts/BrownStd-ReclinLight.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd Reclining';
    src: url('../fonts/BrownStd-ReclinBold.woff2') format('woff2'),
        url('../fonts/BrownStd-ReclinBold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Light.woff2') format('woff2'),
        url('../fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Super.woff2') format('woff2'),
        url('../fonts/Graphik-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Thin.woff2') format('woff2'),
        url('../fonts/BrownStd-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Italic.woff2') format('woff2'),
        url('../fonts/BrownStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-LightItalic.woff2') format('woff2'),
        url('../fonts/BrownStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.woff2') format('woff2'),
        url('../fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd Reclining';
    src: url('../fonts/BrownStd-ReclinRegular.woff2') format('woff2'),
        url('../fonts/BrownStd-ReclinRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Regular.woff2') format('woff2'),
        url('../fonts/BrownStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
a,
section,
form,
table,
td,
tr,
tbody,
select,
label,
figure {
    margin: 0px;
    padding: 0px;
}

:root {
    --orange: #e25524;
    --dark-blue: #303e48;
    --Bgrey: #efeae2;
    --oddBlack: #5a5347;
    --brown: #28170d;
    --Tgrey: #a6a29d;
    --Tbrown: #493e35;
}

h1 {
    font-size: 44px;
    font-family: 'BrownStd';
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'BrownStd';
}

h3 {
    font-size: 31px;
    font-weight: 700;
    font-family: 'BrownStd';
}

h4 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'BrownStd';
}

p {
    font-size: 16px;
    font-family: 'Campton';
    line-height: 1.6;
    font-weight: 300;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

ul>li,
li {
    list-style: none;
}

label {
    margin-bottom: .5rem;
}

.wholepage {
    width: 100%;
    overflow: hidden;
    font-weight: 400;
    font-family: 'Campton';
    font-weight: 300;
    min-height: 100%;
}

/*********************************************
**********HEADER*********/
#header {
    padding: 30px 0;
}

.companyLogo img {
    max-width: 228px;
    max-height: 77px;
    object-position: center;
}

.headerContact {
    text-align: center;
}

.headerContact i {
    color: var(--orange);
    transform: rotate(180deg);
}

.headerContact span {
    color: #756e65;
    font-weight: 500;
    font-size: 14px;
    padding-left: 8px;
}

.headerContact strong {
    font-size: 21px;
    font-weight: 500;
    color: #524441;
    padding-left: 28px;
}

.nav-menu li {
    font-weight: 400;
    color: var(--Tgrey);
}

.nav-menu li:not(:first-child) {
    padding-left: 25px;
}

.nav-menu li a:hover {
    color: var(--Tgrey);
}

/*******************
**NAVIGATION SECTION*/
.navigationSection {
    border-bottom: 2px solid #77808b;
}

.sec_navbar {
    width: 100%;
    flex: 0 0 100%;
    padding: 0;
    align-items: unset;
    justify-content: unset;
}

#collapsibleNavbar {
    align-items: unset;
    justify-content: unset;
}

.secnav-menu {
    width: 100%;
    flex: 0 0 100%;
}

.secnav-menu>li {
    padding: 20px 0;
}
.subMenu li {
	padding: 5px 0;
}
.subMenu li:hover {
 	color: var(--orange); 
}
.secnav-menu>li,
.subMenu li {
    font-size: 16px;
    font-weight: 400;
    font-family: 'BrownStd';
    position: relative;
    cursor: pointer;
}
.secnav-menu>li:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    padding-top: 20px;
    border-bottom: 3px solid transparent;
    z-index: 9;
}

.subMenu {
    background: var(--Bgrey);
    position: absolute;
    z-index: 99;
    width: 200px;
    display: none;
    border-radius: 3px;
    top: 100%;
    left: 0;
    padding: 10px 20px;
    margin-top: 2px;
    color: var(--Tgrey);
}

.secnav-menu>li:hover .subMenu {
    display: block;
}

.secnav-menu li:hover:after {
    border-color: var(--orange);
}

.secnav-menu>li:hover .secnav-menu>li:hover a {
    border-color: var(--orange);
}

.secnav-menu>li:not(:first-child) {
    margin-left: 25px;
}

.secnav-menu li i {
    color: #f89422;
}

.navigationContent {
    display: flex;
    justify-content: space-between;
}

.navigationContent i {
    cursor: pointer;
}

.homeIcon i {
    color: var(--orange) !important;
    font-size: 20px;
}
.searchSection{
	display: flex;
	align-items: center;
}
/****************************************
****************HOME BANENER SECTION*/
.homeBannerSection {
    position: relative;
    min-height: 100vh;
    color: #fff;
    z-index: 1;
    font-size: 22px;
}

.homebgImg,
.homebgImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.homebgImg img {
    object-position: bottom;
    object-fit: cover;
}

.homeBannerContainer {
    text-align: center;
    padding: 150px 0;
}

.homeBannerContainer span {
    font-size: 20px;
}

.selfBtn {
    background-color: var(--orange);
    display: inline-block;
    width: 283px;
    z-index: 41;
    line-height: 60px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
}

.selfBtn:hover {
    color: #fff;
}

.selfBtn i {
    padding-left: 60px;
}

.homeBannerContainer h1 {
    padding-bottom: 10px;
}

/****************************************
**************nvcContent*/
.mainContent {
    background: var(--Bgrey);
}

.nvcContent {
    padding: 50px 0;
    text-align: center;
}

.nvcContent h2 {
    color: var(--orange);
}

.nvcContent span {
    color: var(--dark-blue);
}

.nvcContent p {
    font-size: 18px;
    color: var(--oddblack);
}

/**************************************
*******white section*/
.whiteContainer {
    background: #fff;
    max-height: 500px;
}

.whiteTextContent {
    padding: 73px 73px 0 73px;
}

.whiteTextContent h3 {
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.whiteTextContent span {
    color: var(--orange);
}

.whiteTextContent p {
    margin-bottom: 15px;
    color: var(--oddBlack);
    font-size: 16px;
}

.whiteImageSection {
    padding-top: 45px;
}

.buldImage img {
    object-fit: cover;
    object-position: center;
    height: 598px;
    width: 100%;
}

.singleImageSection {
    padding-top: 143px;
    padding-left: 59px;
}

.singleImage img {
    object-position: center;
    object-fit: cover;
    height: 343px;
    width: 100%;
}

/*.singleImageContainer{
	max-width: 1029px;
}*/
/*****************************
********BROWN SECTION*/
.brownSection {
    color: #fff;
    padding-left: 50px;
    margin-top: -60px;
}

.brownSectionContents {
    padding: 152px 152px 250px;
    background: url('../images/logoBack.png') no-repeat var(--brown);
    background-size: 450px;
    background-position: left bottom;
}

.brownTopPart {
    text-align: center;
    padding-bottom: 50px;
}

.featureContent h4 {
    padding-bottom: 25px;
}

.featureContent p,
.brownTopPart p {
    color: #d5c3b9;
}

.mytab_btn {
    display: block;
}

.mytab_btn li span {
    display: inline-block;
    width: 130px;
    height: 2px;
    background: #4b3b32;
    margin: 0 20px;
}

.mytab_btn li {
    font-family: 'Graphik';
    color: #bca193;
    font-size: 27px;
    font-weight: 300;
}

.mytab_btn li a:hover {
    color: #bca193;
}

.mytab_btn li.active {
    color: var(--orange);
    font-weight: 500;
}

/*******************************
*********GALLERY SECTION*/
.gallerySection {
    padding: 50px 0;
}

.gallerySection h2,
.testimonialSection h2 {
    color: var(--Tbrown);
    padding-bottom: 60px;
}

.galaryImageBig img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    max-height: 422px;
}

.galaryImage img {
    width: 100%;
    height: 201px;
    object-position: center;
    object-fit: cover;
}

.galaryImage {
    padding-top: 50px;
}

.slick-slide {
    float: left;
}

.pjWrapper span {
    font-family: 'BrownStd';
    font-size: 25px;
    font-weight: 600;
    color: var(--orange);
}

.pjRightWrapper p {
    color: #3f2e24;
    margin-bottom: 15px;
}

.pjRightWrapper span {
    color: var(--orange);
    font-weight: 600;
    font-size: 15px;
}

.galleryWrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

/**************************
******TESTIMONIAL SECTION*****/
.testimonialSection {
    padding: 50px 0 80px 0;
    position: relative;
}

.testimonialContent {
    background: #fff;
    padding: 70px 88px 48px 50px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
}

.testimpnialImg {
    position: relative;
}

.testimpnialImg img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    object-fit: cover;
    object-position: center;
    border: 15px solid #f8f8f8;
    position: absolute;
    top: -131px;
    left: -35px;
}

.testimonialText span {
    position: absolute;
    font-size: 90px;
    color: var(--orange);
    font-weight: 500;
    top: -10px;
    right: 35px;
    z-index: -1;
}

.testimonialText p {
    font-family: 'Graphik';
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--oddBlack);
    font-weight: 400;
}

.tesName,
.tesPost {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
}

.tesName {
    color: var(--Tbrown);
}

.tesPost {
    color: #c2b2aa;
}

.navArrows {
    text-align: center;
}

/********************************************
***********CONTACT US SECTION*/
.contactSection {
    padding: 80px 40px 0 0;
}

.contactContents {
    padding: 152px 70px 120px;
    background: url('../images/logoBack.png') no-repeat var(--brown);
    background-size: 350px;
    background-position: left bottom;
    color: #fff;
}

.contactTextWrap h2 {
    font-size: 44px;
}

.contactTextWrap {
    padding-right: 70px;
}

.contactTextWrap p {
    color: #c8b7ad;
}

.formControl input,
.formControl textarea {
    width: 100%;
    padding: 10px 42px 10px 20px;
    border-radius: 30px;
    background: #311d11;
    border: 2px solid transparent;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Graphik';
    font-weight: 300;
    font-size: 12px;
}

.formControl {
    position: relative;
}

.formControl i {
    position: absolute;
    right: 25px;
    top: calc(50% - 16px);
    color: var(--orange);
}

.formControl textarea {
    background: #3a2315;
    height: 150px;
    resize: none;
}

.formControl input:focus,
.formControl textarea:focus {
    border-color: var(--orange);
    outline: none;
    background: #3a2315;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #fff;
}

.sendBtn {
    text-align: right;
    position: relative;
}

.sendUpBtn:focus {
    outline: none;
}

.sendUpBtn {
    border: transparent;
    width: 209px;
    color: #fff;
    line-height: 50px;
}

.sendBtn i {
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
}

/*******************************
**********ORANGE SECTION */
.orangeSection {
    padding-top: 50px;
}

.orangeContents {
    background: #d64600;
    padding: 30px 0;
}

.orangeContent h6 {
    font-family: 'BrownStd';
    font-weight: 400;
    color: #fff;
}

.orangeContent {
    text-align: center;
}

.orangeContent span {
    font-weight: 500;
    color: #f5ac89;
    font-size: 14px;
}

/*************************
**********FOOTER: */
#footer {
    background: var(--brown);
    font-family: 'BrownStd';
    padding: 50px 0;
}

.footerWrapper {
    border-top: 2px solid #3e2f26;
}

.footerWrapper h6 {
    color: #fff;
    padding: 20px 0;
    font-weight: 600;
}

.footerWrapper li {
    color: #d5c3b9;
    font-weight: 300;
}

.copyrightContent p {
    font-family: 'BrownStd';
    font-weight: 300;
    color: #8d6851;
    font-size: 12px;
}

.footerLower {
    padding-top: 20px;
}

.topFWrap {
    padding-bottom: 30px;
}

.botFWrap {
    border-top: 2px solid #3e2f26;
}

.botFWrap p {
    color: #d5c3b9;
    font-size: 12px;
    padding-bottom: 12px;
}

.botFWrap input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    background: #311d11;
    border: 2px solid transparent;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Graphik';
    font-weight: 300;
    font-size: 12px;
}

.botFWrap input:focus {
    border-color: var(--orange);
    outline: none;
    background: #3a2315;
}

.footerLogo img {
    object-position: center;
    object-fit: cover;
    width: 125px;
}

.copyrightContent {
    padding-bottom: 30px;
}

.footerUl {
    color: #8d6851;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'BrownStd';
    font-weight: 300;
}

.footerUl li:after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: #8d6851;
    background: #8d6851;
    display: block;
    position: absolute;
    right: -28px;
    top: calc(50% - 3px);
}

.footerUl li {
    position: relative;
}

.footerUl li:last-child:after {
    content: "";
    background: var(--brown);
}

.lowerFooterRow {
    align-items: center;
}

.socialUL {
    display: flex;
    justify-content: flex-end;
}

.socialUL li:not(:first-child) {
    margin-left: 10px;
}

.socialUL li {
    border-radius: 50%;
    border: 1px solid #352217;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.socialUL li a {
    color: #795d4b;
}

.socialUL li:hover a {
    color: var(--orange);
}

.socialUL li:hover {
    background: #372318;
}

.slick-prev,
.slick-next {
    display: none;
}

.rightArrowSlick,
.leftArrowSlick {
    color: var(--orange);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #eed5c2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightArrowSlick {
    position: absolute;
    left: 50%;
    bottom: -90px;
}

.leftArrowSlick {
    position: absolute;
    left: 46%;
    bottom: -90px;
}

.slick-track:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

/*******************************
********CONTACT PAGE*/
.mainContactTitle {
    padding-bottom: 40px;
}

.mainContactTitle h1 {
    color: var(--brown);
}

.mainContactTitle p {
    color: var(--brown);
}

.mainContactPage {
    font-family: 'BrownStd';
}

.stopBy {
    padding-bottom: 20px;
}

.stopBy h5,
.supportTw h5 {
    color: #9e8170;
    font-size: 13px;
    padding-bottom: 10px;
}

.stopBy h4 {
    color: var(--orange);
    font-weight: 400;
    font-size: 22px;
}

.supportTw h5 {
    font-weight: 400;
}

.supportTw h4 {
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 25px;
}

.contactSocial {
    justify-content: flex-start;
}

.contactSocial li a {
    color: #fff;
}

.contactSocial li {
    border-color: #4f4137;
}

.supportTw {
    padding-bottom: 50px;
}

.oldVirginiaSection h5,
.oldVirginiaSection h6 {
    font-weight: 400;
    color: #9e8170;
    font-size: 14px;
    padding-bottom: 20px;
}

.oldVirginiaSection a {
    color: var(--orange);
    font-weight: 400;
    font-size: 14px;
}

.oldVirginiaSection a i {
    padding-left: 10px;
}

/*********************************
*********PORTFOLIO SECTION*/
.portfolioWhiteSection {
    padding-top: 40px;
}

.portfolioWhiteSection {
    padding-right: 20px;
    padding-left: 50px;
}

.portBannerContainer {
    padding: 50px 0;
}

.portHomebanner {
    min-height: 0;
}

.portWhiteText span {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 15px;
    display: block;
}

.portWhiteText h2 {
    padding-bottom: 15px;
}

.doubleImageContainer {
    max-width: 1080px;
    box-shadow: 0px 23px 133px 0px rgba(25, 32, 39, 0.39);
}

.portTestimponial {
    padding-top: 90px;
}

.portHomeImg img {
    object-position: top;
}

.portTabSection {
    padding-top: 40px;
}

.portTabsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'BrownStd';
    color: #766c5d;
}

.portTabsBtn li:not(:first-child) {
    padding-left: 25px;
}

.portTabsBtn li.active a {
    color: var(--orange);
    background: #f4daca;
}

.portTabsBtn li a {
    padding: 15px 10px;
}

.portTabsBtn li a:hover {
    color: none;
}

.portfolioWhiteSection:not(:first-child) {
    padding-top: 90px;
}

.portBuildImg {
    box-shadow: 0px 23px 133px 0px rgba(25, 32, 39, 0.39);
}
.mainCarousal{
	margin-left: -150px;
	margin-right: -150px;
}
.mainCarousal .slick-slide {
	opacity: 0.5 !important;
	transition: all 0.2s;
}
.mainCarousal .slick-center{
	opacity: 1 !important;
}